################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/alx-system_engineering-devops/FileContentIndex
/.vs/alx-system_engineering-devops/v17
/.vs
/0x04-loops_conditions_and_parsing/reminder
